#Module 3

#Data Types and Structures Questions

1. What are data structures, and why are they important?
   
   - Data structures are the specialised formats for organising , storing and accessing the data. They are required for efficient way to organise data and manipulate them.
   -They are IMPORTANT because :
  -Choosing the right data structure can increase the efficiency and performance.
  -They simplify the data manipulation.
  -Conserve the storage.

2.  Explain the difference between mutable and immutable data types with examples

   - Mutable:These are the data structures which can be modified once upon created.
   - Eg : Sets,List
   - Immutable:These are the data structures which cannot be modified once upon created.
   - Eg : Tuples,Strings

3. What are the main differences between lists and tuples in Python?

    - List : These are mutable. These are represented in [ ].
    - Tuples: These are immutable. These are represented in ( ).

4. Describe how dictionaries store data.
    - They store data in key - value pair.
    - These are mutable and store ordered elements.
    - Two Keys cannot have same value.

5.  Why might you use a set instead of a list in Python?
   - When we want to store unique elements in the data container.
   - When the ordering doesnot matter.

6. What is a string in Python, and how is it different from a list?
   - String the the sequence of characters.
   - Strings are immutable where as list are mutable.

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable which ensures integrity of the Data.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table is a data structure that maps keys to values using a process called hashing. It allows for efficient data retrieval, insertion, and deletion, typically in O(1) time complexity on average.
  - Keys in a Python dictionary are hashed to determine their storage location.

9. Can lists contain different data types in Python?
    - Yes , list can contain different data types.

10. Explain why strings are immutable in Python?
    - Because one we create the string ,we cannot update it.
    - If we want to update it , we have to give another variable name or reassign it.

11. What advantages do dictionaries offer over lists for certain tasks?

    - The key of the dictionaries are immutable.
    - They store the key - value pair.
12.  Describe a scenario where using a tuple would be preferable over a list.
    - Like storing the Aadhar card number or Employee ID which we donot want to change the value once been created, at that time Tuple are preferable.

13. How do sets handle duplicate values in Python?
    - Sets automatically handle duplicate values by removing duplicates and keeping only unique elements.
    - If the elements are duplicated , it only includes the 1 element.

14. How does the “in” keyword work differently for lists and dictionaries?  

   - When used with lists, the in keyword checks for membership by iterating through each element sequentially.
   - When used with dictionaries, the in keyword checks for keys only, not values.
  
15. Can you modify the elements of a tuple? Explain why or why not?
   - No, because Tuples are immutable.
  
16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary in Python is a dictionary that contains one or more dictionaries as its values.
  - students = {
    'student1': {'name': 'Alice', 'age': 20, 'grades': {'math': 90, 'science': 85}},
    }
}

17.  Describe the time complexity of accessing elements in a dictionary

   - In Python, dictionaries are implemented using hash tables. The time complexity of accessing elements in a dictionary depends on whether we looking up, inserting, or deleting items.
   - Time Complexity: O(1) [best case] for looking up, inserting, or deleting items.

18. In what situations are lists preferred over dictionaries?

   - When the data are not in the key - value pair , list are preffered.
   - When the data requires the frequent updation like mutable list are preffered.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

   - The order in which we insert elements in the dictionaries donot matter. Indexing do not work in the dictionaries.
   - They donot preserve the insertion order of elements.
  - Data accessing will consume less time.
  
20.  Explain the difference between a list and a dictionary in terms of data retrieval.
    - Indexed-based retrieval: Lists store elements in a sequential order, and data is accessed by its index (position).O(1) or O(n) time complexity.
    - Key-based retrieval: Dictionaries store elements as key-value pairs, and data is accessed via keys.O(1) time compexity.

#Practical Questions

In [1]:
#1 Write a code to create a string with your name and print it
name="Shivukumar M Hotagi"
print(name)

Shivukumar M Hotagi

In [2]:
#2  Write a code to find the length of the string "Hello World"
str="Hello World"
print(len(str))

11

In [4]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"
program="Python Programming"
print(program[0:3:1])

Pyt

In [5]:
#4 Write a code to convert the string "hello" to uppercase
greeting="hello"
print(greeting.upper())

HELLO

In [7]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
sent="I like apple"
print(sent)
print(sent.replace("apple","orange"))

I like apple
I like orange

In [8]:
#6 Write a code to create a list with numbers 1 to 5 and print it
list=[num for num in range(1,6)]
print(list)

[1, 2, 3, 4, 5]

In [9]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [17]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst=[1,2,3,4,5]
print(lst)

lst.remove(3)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [19]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst=['a','b','c','d']
print("The second element is ",lst[1])

The second element is  b

In [20]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
lst=[10,20,30,40,50]
print(lst)
print(lst[::-1])

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [21]:
#11 Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup=(10,20,30)
print(tup)

(10, 20, 30)

In [22]:
#12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tup=('apple','banana','cherry')
print(tup[0])

apple

In [23]:
#13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup=(1,2,3,2,4,2)
print(tup.count(2))

3

In [24]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup=("dog","cat","rabbit")
print(tup.index("cat"))

1

In [25]:
#15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tup=("apple","orange","banana")
print("banana" in tup)

True

In [26]:
#16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
st={1,2,3,4,5}
print(st)

{1, 2, 3, 4, 5}

In [28]:
#17  Write a code to add the element 6 to the set {1, 2, 3, 4}.
st={1,2,3,4}
print(st)
st.add(6)
print(st)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

In [29]:
#18  Write a code to create a tuple with the elements 10, 20, 30 and print it.
tp=(10,20,30)
print(tp)

(10, 20, 30)

In [30]:
#19  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tp=("apple","banana","cherry")
print(tp[0])

apple

In [31]:
#20  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
tp=(1,2,3,2,4,2)
print(tp.count(2))

3

In [32]:
#21  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tp=("dog","cat","rabbit")
print(tp.index("cat"))

1

In [33]:
#22  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tp=("apple","orange","banana")
print("banana" in tp)

True

In [34]:
#23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
st={1,2,3,4,5}
print(st)

{1, 2, 3, 4, 5}

In [35]:
#24 Write a code to add the element 6 to the set {1, 2, 3, 4}
st={1,2,3,4}
print(st)
st.add(6)
print(st)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}